<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logdir">${sys:}</Property>
    </Properties>
    <Appenders>
        <RollingFile name="RollingFile-Appender"
                     filePattern="/log4j/logs/log%d{yyyy-MM-dd-HH-mm}.log">
            <PatternLayout pattern="%d{'.' yyyy-MM-dd-HH-mm} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="RollingFile-Appender"/>
        </Root>
    </Loggers>
</Configuration>